.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.1em 0.25em;
  padding: 0em 0.2em;
}

.form__button {
  margin: 0.3em 0.25em;
  padding: 0.7em 0.6em;
  text-transform: uppercase;
  color: white;
}

.form__button--active {
  background-color: #24a0ed;
}

.form__button--inactive {
  background-color: #efefed;
  color: #999898;
}

label {
  margin-bottom: 0.2em;
}

.form__commentbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9em;
  width: 80%;
}

.form__textarea {
  height: 90%;
  width: 90%;
}

.form__warning {
  margin: 0.5em;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9534f;
  background-color: rgba(255, 0, 0, 0.25);
}

@media screen and (min-width: 800px) {
  .form__textarea {
    height: 100px;
  }
  .form__commentbox {
    padding: 0em 0.5em;
  }
  .form {
    align-items: center;
  }
  .form__button {
    margin: 0.3em 1em;
    padding: 1em 1.2em;
  }
}
