.Loading {
    display: flex;
    margin-top: 7em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.Loading__text {
    text-align: center;
}