.Votes {
  display: flex;
  padding: 0.2em 2em;
  margin: 0.1em 0.1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #dae0e6;
  border-radius: 40%;
  width: 60px;
  height: 30px;
  grid-area: votes;
}

.Votes p {
  padding: 0.3em;
}

.fa-arrow-circle-up {
  transition: color 0.1s ease-out;
}
.fa-arrow-circle-up:active {
  color: rgb(9, 155, 9);
  transform: translateY(2px);
}
.fa-arrow-circle-down {
  transition: color 0.1s ease-out;
}
.fa-arrow-circle-down:active {
  color: rgb(218, 52, 30);
  transform: translateY(2px);
}
