* {
  box-sizing: border-box;
}

.App {
  display: grid;
  background-color:#DAE0E6;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas:
  'header'
  'articles';
}