.Header {
  grid-area: header;
  background-color: #1a1a1b;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Header__text-link {
  color: inherit;
  text-decoration: inherit;
}

.Header__box {
  width: 15%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.far {
  font-size: 3rem;
}

/* .Header__logo {
  
  }
  
  .Header__user {
  
  }
   */
