.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 6vh;
    background-color: #DAE0E6;
}

.Nav__select {
    margin-left: 0.5em;
}