.Votes {
    display: flex;
    padding: 0.2em 0.4em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #DAE0E6;
    border-radius: 40%;
    width: 60px;
    height: 30px;
}

.Votes p {
    padding: 0.3em;
}